Options -MultiViews
RewriteEngine On
RewriteBase /perth-removalists/

RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /perth-removalists/index.html [L]
